<?xml version="1.0" encoding="utf-8"?>
<ipset type="hash:ip">
  <option name="family" value="inet6" />
{% for item in groups['all'] | sort %}
{% if item != inventory_hostname %}
  <entry>{{ hostvars[item]['address6'] }}</entry>
{% endif %}
{% endfor %}
</ipset>
