<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>For use in public areas. You do not trust the other computers on networks to not harm your computer. Only selected incoming connections are accepted.</description>

  <interface name="{{ ansible_default_ipv4.interface }}"/>

  <!-- Cluster -->
  <rule>
    <source ipset="cluster-hosts-v4"/>
    <accept />
  </rule>
  <rule>
    <source ipset="cluster-hosts-v6"/>
    <accept />
  </rule>

  <!-- SSH (rate limited) -->
  <rule>
    <port protocol="tcp" port="22"/>
    <accept>
      <limit value="10/m"/>
    </accept>
  </rule>

  <!-- HTTP & HTTPS (rate limited) -->
  <rule>
    <port protocol="tcp" port="80"/>
    <accept>
      <limit value="500/m"/>
    </accept>
  </rule>
  <rule>
    <port protocol="tcp" port="443"/>
    <accept>
      <limit value="500/m"/>
    </accept>
  </rule>

  <!-- SSH for crawler3 lxc-container (rate limited) -->
  <rule>
    <port protocol="tcp" port="22501"/>
    <accept>
      <limit value="10/m"/>
    </accept>
  </rule>
</zone>
