127.0.0.1    localhost ip4-localhost ip4-loopback

::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{% for item in groups['all'] | sort %}
{{ hostvars[item]['private_address4'] }} {{ hostvars[item]['ansible_hostname'] }} {{ hostvars[item]['ansible_hostname'] }}.cluster.local
{% endfor %}

{% for item in groups['all'] | sort %}
{{ hostvars[item]['private_address6'] }} {{ hostvars[item]['ansible_hostname'] }} {{ hostvars[item]['ansible_hostname'] }}.cluster.local
{% endfor %}

{{ address4 }} host
