network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: no
      dhcp6: no
      addresses:
        - {{ address4 }}/{{ prefix4 }}
        - {{ address6 }}/{{ prefix6 }}
      gateway4: {{ gateway4 }}
      gateway6: {{ gateway6 }}
      nameservers:
        search:
{% for search_domain in search_domains %}
          - {{ search_domain }}
{% endfor %}
        addresses:
{% for nameserver in nameservers %}
          - {{ nameserver }}
{% endfor %}
