[Interface]
Address = {{ private_address4 }}/24, {{ private_address6 }}/64
PrivateKey = {{ wireguard_private_key }}
ListenPort = 51820

{% for item in groups['all'] | sort %}
{% if item != inventory_hostname %}
[Peer] # {{ hostvars[item]['ansible_hostname'] }}
PublicKey = {{ hostvars[item]['wireguard_public_key'] }}
AllowedIps = {{ hostvars[item]['private_address4'] }}/32, {{ hostvars[item]['private_address6'] }}/128
Endpoint = {{ hostvars[item]['address4'] }}:51820

{% endif %}
{% endfor %}
